# Get game ids

In [2]:
from nba_api.stats.endpoints import LeagueGameLog
import pandas as pd
import numpy as np

In [3]:
help(LeagueGameLog)

Help on class LeagueGameLog in module nba_api.stats.endpoints.leaguegamelog:

class LeagueGameLog(nba_api.stats.endpoints._base.Endpoint)
 |  LeagueGameLog(counter=0, direction='ASC', league_id='00', player_or_team_abbreviation='T', season='2024-25', season_type_all_star='Regular Season', sorter='DATE', date_from_nullable='', date_to_nullable='', proxy=None, headers=None, timeout=30, get_request=True)
 |
 |  Method resolution order:
 |      LeagueGameLog
 |      nba_api.stats.endpoints._base.Endpoint
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, counter=0, direction='ASC', league_id='00', player_or_team_abbreviation='T', season='2024-25', season_type_all_star='Regular Season', sorter='DATE', date_from_nullable='', date_to_nullable='', proxy=None, headers=None, timeout=30, get_request=True)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  get_request(self)
 |
 |  load_response(self)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  data_sets = None
 |
 |  endpoint = 'leaguegamelog'
 |
 |  expected_data = {'LeagueGameLog': ['SEASON_ID', 'TEAM_ID', 'TEAM_ABBRE...
 |
 |  headers = None
 |
 |  nba_response = None
 |
 |  player_stats = None
 |
 |  team_stats = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from nba_api.stats.endpoints._base.Endpoint:
 |
 |  get_available_data(self)
 |
 |  get_data_frames(self)
 |
 |  get_dict(self)
 |
 |  get_json(self)
 |
 |  get_normalized_dict(self)
 |
 |  get_normalized_json(self)
 |
 |  get_request_url(self)
 |
 |  get_response(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from nba_api.stats.endpoints._base.Endpoint:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from nba_api.stats.endpoints._base.Endpoint:
 |
 |  DataSet = <class 'nba_api.stats.endpoints._base.Endpoint.DataSet'>

In [4]:
seasons = ['2022-23', '2023-24', '2024-25']

In [ ]:
for season in seasons:
    game_log = LeagueGameLog(season= '2024-25').get_data_frames()[0]

In [6]:
df = pd.DataFrame(game_log)

In [7]:
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22024,1610612750,MIN,Minnesota Timberwolves,0022400062,2024-10-22,MIN @ LAL,L,240,35,...,35,47,17,4,1,16,22,103,-7,1
1,22024,1610612747,LAL,Los Angeles Lakers,0022400062,2024-10-22,LAL vs. MIN,W,240,42,...,31,46,22,7,8,7,22,110,7,1
2,22024,1610612738,BOS,Boston Celtics,0022400061,2024-10-22,BOS vs. NYK,W,240,48,...,29,40,33,6,3,4,15,132,23,1
3,22024,1610612752,NYK,New York Knicks,0022400061,2024-10-22,NYK @ BOS,L,240,43,...,29,34,20,2,3,12,12,109,-23,1
4,22024,1610612751,BKN,Brooklyn Nets,0022400064,2024-10-23,BKN @ ATL,L,240,40,...,31,43,21,8,6,19,32,116,-4,1

In [8]:
df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [9]:
df.describe()

,TEAM_ID,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
count,2.460000e+03,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,...,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.00000,2460.0
mean,1.610613e+09,241.300813,41.693496,89.238618,0.468222,13.538211,37.582927,0.359893,16.900000,21.671545,...,32.993089,44.112195,26.549593,8.204878,4.876016,14.298374,18.595935,113.825203,0.00000,1.0
std,8.657201e+00,5.908252,5.266732,7.290212,0.054332,3.954880,7.033588,0.080627,5.720457,6.883644,...,5.423087,6.725460,5.288003,3.089734,2.457047,4.027811,4.204045,12.711950,15.96616,0.0
min,1.610613e+09,240.000000,22.000000,67.000000,0.293000,3.000000,12.000000,0.095000,3.000000,3.000000,...,16.000000,23.000000,9.000000,1.000000,0.000000,3.000000,5.000000,67.000000,-59.00000,1.0
25%,1.610613e+09,240.000000,38.000000,84.000000,0.430000,11.000000,33.000000,0.306000,13.000000,17.000000,...,29.000000,39.000000,23.000000,6.000000,3.000000,11.000000,16.000000,105.000000,-10.00000,1.0
50%,1.610613e+09,240.000000,42.000000,89.000000,0.468000,13.000000,37.000000,0.358000,16.000000,21.000000,...,33.000000,44.000000,26.000000,8.000000,5.000000,14.000000,18.000000,114.000000,0.00000,1.0
75%,1.610613e+09,240.000000,45.000000,94.000000,0.506000,16.000000,42.000000,0.413000,21.000000,26.000000,...,37.000000,48.000000,30.000000,10.000000,6.000000,17.000000,21.000000,122.000000,10.00000,1.0
max,1.610613e+09,290.000000,60.000000,119.000000,0.689000,29.000000,63.000000,0.680000,43.000000,53.000000,...,52.000000,73.000000,48.000000,22.000000,18.000000,31.000000,35.000000,162.000000,59.00000,1.0

In [10]:
game_ids = df['GAME_ID'].unique()

# Get play by play for game

In [124]:
from nba_api.stats.endpoints import GameRotation
from nba_api.stats.endpoints import BoxScoreTraditionalV2

In [135]:
box_score = BoxScoreTraditionalV2(game_id= game_ids[0]).get_data_frames()[0]

In [136]:
box_score.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'NICKNAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS'],
      dtype='object')

In [149]:
box_score['LAST_NAME'] = box_score.apply(lambda row: row['PLAYER_NAME'].replace(row['NICKNAME'], '').strip(), axis = 1)
player_dictionary = {}
for index, row in box_score.iterrows():
    team_id = row['TEAM_ID']
    player_id = row['PLAYER_ID']
    last_name = row['LAST_NAME']
    if team_id in player_dictionary:
        if player_id in player_dictionary[team_id]:
            continue
        else:
            player_dictionary[team_id][player_id] = last_name
    else:
        player_dictionary[team_id] = {}
        player_dictionary[team_id][player_id] = last_name

In [150]:
player_dictionary

{1610612750: {1630183: 'McDaniels',
  203944: 'Randle',
  203497: 'Gobert',
  1630162: 'Edwards',
  201144: 'Conley',
  1629675: 'Reid',
  1628978: 'DiVincenzo',
  1629638: 'Alexander-Walker',
  204060: 'Ingles',
  1642265: 'Dillingham',
  1628408: 'Dozier',
  1630568: 'Garza',
  1631159: 'Miller',
  1631169: 'Minott',
  1630545: 'Shannon Jr.'},
 1610612747: {1629060: 'Hachimura',
  2544: 'James',
  203076: 'Davis',
  1630559: 'Reaves',
  1626156: 'Russell',
  1631108: 'Christie',
  1629216: 'Vincent',
  1629637: 'Hayes',
  1642261: 'Knecht',
  1642355: 'James',
  1641720: 'Hood-Schifino',
  1641721: 'Lewis',
  1629629: 'Reddish'}}

In [84]:
game_rotation = GameRotation(game_id= game_ids[0]).get_data_frames()
game_rotation_home, game_rotation_away = game_rotation[0], game_rotation[1]
game_rotation_home.to_csv('game_rot.csv')

In [40]:
home_lineup = list(game_rotation_home[game_rotation_home['IN_TIME_REAL'] == 0]['PERSON_ID'])
away_lineup = list(game_rotation_away[game_rotation_away['IN_TIME_REAL'] == 0]['PERSON_ID'])

In [60]:
columns = ["lineup_ID"] + [f"player_{team}_{n}" for team in ['home', 'away'] for n in range(1, 6)] + ["net_rating", "time"]

In [105]:
df_net_rating = pd.DataFrame(columns=columns)

In [100]:
lineup = home_lineup + away_lineup
lineup_ID = str(sorted(lineup))
lineup_data = pd.Series([lineup_ID] + lineup, index = columns[:-2])

In [17]:
from nba_api.stats.endpoints import PlayByPlayV3

In [18]:
plays = PlayByPlayV3(game_id= game_ids[0]).get_data_frames()[0]

In [19]:
plays.columns

Index(['gameId', 'actionNumber', 'clock', 'period', 'teamId', 'teamTricode',
       'personId', 'playerName', 'playerNameI', 'xLegacy', 'yLegacy',
       'shotDistance', 'shotResult', 'isFieldGoal', 'scoreHome', 'scoreAway',
       'pointsTotal', 'location', 'description', 'actionType', 'subType',
       'videoAvailable', 'shotValue', 'actionId'],
      dtype='object')

In [20]:
plays['actionType'].unique()

array(['period', 'Jump Ball', 'Missed Shot', 'Rebound', 'Made Shot',
       'Foul', '', 'Violation', 'Turnover', 'Timeout', 'Substitution',
       'Free Throw'], dtype=object)

In [21]:
plays[['scoreHome', 'scoreAway']] = plays[['scoreHome', 'scoreAway']].replace('', np.nan)
plays[['scoreHome', 'scoreAway']] = plays[['scoreHome', 'scoreAway']].ffill()

In [91]:
substitutions = plays[plays['actionType'] == 'Substitution'].copy()

In [93]:
substitutions['scoreDiff'] = substitutions['scoreHome'].astype(int) - substitutions['scoreAway'].astype(int)
substitutions['netDiff'] = substitutions['scoreDiff'].diff().fillna(substitutions['scoreDiff'])

In [111]:
df_net_rating['net_rating'] = substitutions['netDiff']
df_net_rating.iloc[0, :11] = lineup_data

In [169]:
substitutions.head()

,gameId,actionNumber,clock,period,teamId,teamTricode,personId,playerName,playerNameI,xLegacy,...,location,description,actionType,subType,videoAvailable,shotValue,actionId,scoreDiff,netDiff,sub_coming_in
44,0022400062,59,PT06M44.00S,1,1610612747,LAL,2544,James,L. James,0,...,h,SUB: Christie FOR L. James,Substitution,,0,0,45,4,4.0,Christie
49,0022400062,66,PT06M06.00S,1,1610612750,MIN,203944,Randle,J. Randle,0,...,v,SUB: Reid FOR Randle,Substitution,,0,0,50,6,2.0,Reid
50,0022400062,67,PT06M06.00S,1,1610612750,MIN,201144,Conley,M. Conley,0,...,v,SUB: DiVincenzo FOR Conley,Substitution,,0,0,51,6,0.0,DiVincenzo
58,0022400062,79,PT05M09.00S,1,1610612747,LAL,1626156,Russell,D. Russell,0,...,h,SUB: Vincent FOR Russell,Substitution,,0,0,59,6,0.0,Vincent
77,0022400062,102,PT03M03.00S,1,1610612747,LAL,1630559,Reaves,A. Reaves,0,...,h,SUB: L. James FOR Reaves,Substitution,,0,0,78,5,-1.0,L.

In [ ]:
substitutions['sub_coming_in'] = substitutions['description'].str.replace('SUB: ', '').str.strip().str.split(' ').str[0]

In [ ]:
df_net_rating

In [112]:
df_net_rating

,lineup_ID,player_home_1,player_home_2,player_home_3,player_home_4,player_home_5,player_away_1,player_away_2,player_away_3,player_away_4,player_away_5,net_rating,time
44,"[2544, 201144, 203076, 203497, 203944, 1626156...",201144,203497,203944,1630162,1630183,2544,203076,1626156,1629060,1630559,4.0,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.0,NaN
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.0,NaN
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.0,NaN
312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN
319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.0,NaN
334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.0,NaN
399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN
413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.0,NaN
425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.0,NaN